$accent-color: #178CA4;
$day-color: #178CA4;
$btn-color: #ffffff;
$priority-color: #FFA101;

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 130%;
  background-color: #18B7BE;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3a3a3a;
}

.wrapper__inner {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-gap: 0 25px;
  &.disabled {
    z-index: -10;
  }
}

.day:nth-child(1), .day:nth-child(2), .day:nth-child(3) {
  margin: 10px 10px 10px 175px;
}

.day:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

.day:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
}

.day:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
}

.day:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
}

.day:nth-child(7) {
  grid-column: 4;
  grid-row: 2;
}

.day {
  min-width: 300px;
  background-color: $day-color;
  min-height: 250px;
  margin: 10px;
  padding: 10px 15px 40px;
  transition: .3s;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 0 3px 0 $day-color;
}

.day-list {
  max-height: 150px;
  overflow-y: auto;
  margin: 0 -10px 0 0;
  padding: 0 5px 0 0;
}

.day__item {
  position: relative;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 5px 10px 5px 30px;
  margin: 0 0 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
}

.day-name {
  text-align: center;
  margin: 0 0 10px;
  color: #ffffff;
  position: relative;
  padding: 0 0 3px;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    width: 100%;
    height: 1px;
  }
}

.open-btn {
  display: block;
  position: absolute;
  bottom: 10px;
  padding: 3px;
  background-color: transparent;
  border: 1px solid $btn-color;
  color: $btn-color;
  border-radius: 10px;
  transition: .15s;
  width: 85%;
  &:hover {
    opacity: .7;
  }
}

.list {
  max-height: 120px;
  overflow-y: auto;
  list-style: none;
  padding: 25px;
  min-height: 10vh;
  margin: 0 0 15px 0;
  position: relative;
  &__wrapper {
    font-weight: 700;
    max-height: 100%;
    overflow-y: auto;
    padding: 20px;
    background-color: #ffffff;
    position: fixed;
    z-index: 50;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: scale(0) translateY(-50%);
    width: 400px;
    box-shadow: 0 0 3px 0 $day-color;
    border: .5px solid #ffffff;
    border-radius: 10px;
    transition: .6s;
    &.show {
      transform: scale(1) translateY(-50%);
      z-index: 10;
    }
  }
  &__warning {
    transform: scale(0) translateY(-50%);
    position: absolute;
    bottom: 135px;
    left: 105px;
    color: #ffffff;
    background-color: $priority-color;
    padding: 4px;
    border-radius: 2px;
    transition: .1s;
    &:after {
      position: absolute;
      content: '';
      width: 10px;
      height: 10px;
      bottom: -19px;
      border: 10px solid transparent;
      border-top-color: $priority-color;
      left: 10px;
    }
    &.show {
      transform: scale(1) translateY(-50%);
      transition: .3s;
    }
  }
  &__buttons {
    margin: 15px 0 0 0;
  }
  &__form p {
    margin: 0 0 5px 0;
  }
  &__name {
    margin: 0 0 15px 0;
    text-align: center;
    text-transform: capitalize;
  }
  &__input {
    border: 1px solid #999999;
    border-radius: 2px;
    padding: 10px 15px;
    font-size: 15px;
    width: 100%;
    &:focus {
      outline: none;
      border-color: #344648;
    }
  }
  &__btn {
    font-weight: 700;
    background-color: $accent-color;
    border: 1px solid #ffffff;
    border-radius: 7px;
    padding: 10px 15px;
    transition: .2s;
  }
  &__buttons {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__hide {
    background-color: transparent;
  }
}

.priority {
  min-width: 110px;
  text-align: left;
  color: #3a3a3a;
  border: 1px solid #999999;
  padding: 11px 15px 10px 30px;
  border-radius: 2px;
  font-weight: 400;
  letter-spacing: 0.05em;
  background-color: transparent;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: transparent;
    border: 2px solid #999999;
  }
}

.important {
  color: $priority-color;
  &:before {
    position: absolute;
    content: '';
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    border-radius: 50%;
    height: 10px;
    background-color: $priority-color;
    border: 2px solid $priority-color;
  }
}

.add-btn {
  color: #ffffff;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  &:checked + .check-style:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/checkmark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  &:disabled + .check-style {
    border-color: #344648;
  }
  &:disabled:checked + .check-style:before {
    background-color: #344648;
  }
  &:focus + .check-style {
    box-shadow: 0 0 0 2px #344648;
  }
}

.check-style {
  position: absolute;
  width: 16px;
  height: 16px;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 2px solid #344648;
  cursor: pointer;
}

.list-span {
  position: relative;
  width: 15px;
  height: 15px;
  transition: .1s;
  padding: 8px;
  cursor: pointer;
  &:hover {
    transform: scale(1.15);
  }
  &:after, &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    background-color: #344648;
    width: 15px;
    height: 1px;
  }
  &:after {
    transform: rotate(-45deg);
  }
  &:before {
    transform: rotate(45deg);
  }
}

.day__item.high, {
  background-color: $priority-color;
  border: 1px solid $priority-color;
  color: #ffffff;
  .check-style {
    border: 2px solid #ffffff;
  }
  .list-span:after, .list-span:before {
    background-color: #ffffff;
  }
  .checkbox {
    &:checked + .check-style:before {
      background-image: url("../images/checkmark_white.png");
      background-size: 76% 65%;
    }
  }
}

.done {
  text-decoration: line-through;
  opacity: .7;
}

.delete-trash {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 5px;
  bottom: 12px;
  cursor: pointer;
  g {
    transition: .25s;
  }
  &:hover {
    g {
      opacity: .7;
    }
  }
}

*::-webkit-scrollbar {
  display: block;
  padding: 0 2px 0 0;
  margin: 0 2px 0 0;
  width: 5px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background: #ffffff;
}

/*1320px*/

@media (max-width: 1320px) {
  body {
    display: flex;
    justify-content: normal;
    align-items: normal;
  }
  .wrapper__inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .day:nth-child(1), .day:nth-child(2), .day:nth-child(3) {
    margin: 10px;
  }
}

/*------*/

/*426px*/

@media (max-width: 426px) {
  body {
    font-size: 14px;
  }
  .wrapper__inner {
    padding: 0;
    margin: 0 auto;
    grid-template-columns: repeat(4, auto);
    &.disabled {
      z-index: -10;
    }
  }
  .day {
    width: auto;
    min-height: 200px;
  }
  .list {
    width: 100%;
    &__wrapper {
      padding: 15px;
      width: auto;
      margin: 0 10px;
      border-width: 2px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__warning {
      bottom: 127px;
      left: 105px;
      padding: 4px;
      border-radius: 2px;
      &:after {
        width: 10px;
        height: 10px;
        bottom: -19px;
        left: 10px;
      }
    }
    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
  .priority {
    width: 100%;
  }
  .open-btn {
    width: 81%;
  }
}

/*------*/

/*375px*/

@media (max-width: 375px) {
  .list {
    &__hide, .add-btn {
      padding: 10px;
    }
  }
  .priority {
    min-width: 70px;
    padding: 11px 8px 10px 20px;
    &:before {
      left: 7px;
      width: 8px;
      height: 8px;
    }
  }
}

/*------*/

/*320px*/

@media (max-width: 320px) {
  .day {
    margin: 10px 0;
  }
  .day:nth-child(1), .day:nth-child(2), .day:nth-child(3) {
    margin: 10px 0;
  }
}

/*------*/
